<% if @correction.nil? %>
<%= link_to export_remove_student_path(@student.id, :award => @award.id, :correction => @correction), remote: true do %>
	<span class="glyphicon glyphicon-check"></span>
<% end %>
<% else %>
<%= link_to export_remove_student_path(@student.id, :award => @award.id, :correction => @correction), class: "correction-check", remote: true do %>
	<span class="glyphicon glyphicon-check"></span>
	<% end%>
<% end %>  