<div class="col-sm-5">
<%= link_to export_select_all_path(:students => @ids), remote: true do %>
	<span class="glyphicon glyphicon-unchecked"></span>
<% end %>
</div>
<div class="col-sm-7">
	Select All 
</div>