<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select School</h4>
      </div>
      <div class="modal-body centered">
<h3>Looks like we're having trouble locating the image for this student. Please upload another image or contact us to find the missing photo.</h3>

      <div class="form-actions">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>   
      </div>   

    </div>
  </div>

