<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      <h3 align="center">Checking your students' images...</h3>
<div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>
<div class="dropdown">

      </div>
      <div class="form-actions">
      <div class="modal-footer">

      </div>   
      </div>   

    </div>
  </div></div>