<% if current_user.try(:admin) %>


<div class="row">
	<div class="col-sm-3">
		<%= render 'sidebar' %>
	</div>
	<div class="col-sm-9">
		<%= render 'students', :locals => {:students => @students, :image => @image} %>
	</div>
</div>
<% else %>
<%= render 'students', :locals => {:students => @students, :image => @image} %>

<% end %>