<!-- Table row for a lineitem-->
<tr style="border-bottom: 2px dotted black;">
      <!-- QUANTITY FORM -->
    <td width="20%" class="dotted"><%= f.input :quantity, label: false %></td>
    <!-- ITEM NAME FORM -->    
    <td width="20%" class="dotted"><%= f.input :p_code, label: false %></td>
    <td width="40%" class="dotted"><%= f.input :product, label: false  %></td>
     <!-- UNIT PRICE FORM -->
    <td width="20%" class="dotted"><%= f.input :price, label: false %></td>
     <!-- PRICE * QUANTITY AMOUNT -->
	<td width="20%" class="dotted">Total</td>
</tr>
<!-- End of table row --> 