<div class = "Date">
        <div class="col-xs-6">
          Date:
          <%= f.date_field :DATE_eq, class: 'form-control input-sm', id: 'date_fill', 'datepicker' => true %>
        </div>
      </div>
      </br>