<h2>Editing Job</h2>

<%= render 'formEdit' %>
<br></br>
<% if @renderType == "confirms" %>
    <%= link_to 'Back', djobsconfirms_path %>
<% elsif @renderType == "photography" %>
    <%= link_to 'Back', djobsphotography_path %>
<% else %>
    <%= link_to 'Back', djobsproduction_path %>
<% end %>
