<fieldset>

<div class="row">
    <div class="col-sm-3">
        <%= f.input :afile, as: :file, :label => false %>
    </div>
    <div class="col-sm-3">
        <%= f.input :dcomment, :label => false %>
    </div>
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-2">
        <%= f.check_box :_destroy %>
    </div>
</div>

</fieldset>