
<!-- Table row for a lineitem-->
<tr style="border-bottom: 2px dotted black;">

    <!-- ITEM NAME FORM -->
    <td width="60%" class="dotted">test</td>

    <!-- UNIT PRICE FORM -->
    <td width="20%" class="dotted">test</td>

    <!-- QUANTITY FORM -->
    <td width="20%" class="dotted">test</td>

    <!-- PRICE * QUANTITY AMOUNT -->
	<td width="25%" class="dotted">test</td>
</tr>
<!-- End of table row -->