<tr style="border-bottom: 2px dotted black;">

    <td width="40%" class="dotted"><%= f.file_field :avatar %></td>
    <td width="50%" class="dotted"><%= f.input :dcomments, :label => false %></td>
    <td width="80%" class="dotted" style="text-align: right"><%= f.check_box :_destroy %></td>

</tr>