<tr>
    <td width="20%" class="dotted">4500</td>
    <td width="50%" class="dotted">Report to the Community - 16 pages - English</td>
    <td width="25%" class="dotted">$0.51</td>
	<td width="25%" class="dotted">$2295.00</td>
</tr>