<h2>Editing Project</h2>

<%= render 'formEdit' %>

<!-- <%= link_to 'Show', @dproject %> | -->
<%= link_to 'Back', dprojects_path %> |
<%= link_to 'Delete', @dproject, method: :delete, data: { confirm: 'Are you sure?' } %>
