<div class="col-xs-7 animated fadeIn" id="senior_table">
	<div class="row">
		<div class="col-xs-6">
			<h3>Select Your Add-ons:</h3>
		</div>
		<div class="col-xs-6" align="right">
			<h3><%= link_to "View Package", view_package_path(@opackage.id), class: "btn-custom4", remote: true %></h3>
		</div>
	</div>
	Add an add-on and drag a pose (left) to each sheet <br/> to create your add-on.
	
</div>