<% unless @bool.include? false %>
		<%= button_tag(type: 'submit', class: "btn-custom2") do %>
  			Continue <span class="glyphicon glyphicon-chevron-right"></span> 
		<% end %>

<% else %>
	<button class="btn btn-default" disabled>Please select a package for <br/> each portrait before continuing</button>
<% end %>

