<div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title orange" id="myModalLabel">


      <div class="modal-body" align="center" id="margin-thin">
        




<%= image_tag(@image, class: "senior_portrait") %>


 

    </div>
  </div>
</div>
</div>

