<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-title orange" id="myModalLabel">


      <div class="modal-body" align="center" id="margin-thin">
        




<%= image_tag(@image, class: "senior_portrait", :data => {:dismiss => "modal"}) %>


 

    </div>
  </div>
</div>
</div>

