<br/><br/>
<br/><br/>
<br/><br/>
<br/>
<h1>Please choose an option below to continue.</h1>
<hr/>

<div class="row">
<%= link_to student_search_path(:cart => @cart, :i => @i) do %><br/>

<div class="col-xs-12 without_id">
	<span style="font-size: 42px;"><b>
		I don't know my student's </br>
		Access Code or Student I.D. Number<br>
	</span></b>
	<span style="font-size: 35px;">
		(Portrait previews won't be shown.)
	</span><br/><br/>
	<button class="btn-without_id" style="font-size: 30px;">CONTINUE WITHOUT I.D.</button>
	<% end %>
</div>

<div class="col-xs-12 with_id">
<br/>
	<span style="font-size: 42px;"><b>
		Yes, I know my student's <br/>
		Access Code or Student I.D. Number
	</span></b><br/>
	<span style="font-size: 35px;">
		(Located on your Picture Day order envelope)
	</span><br/><br/>
	<button class="btn-with_id" style="font-size: 30px;">CONTINUE</button>
</div>
</div>
<br/>
<br/>
<br/>




