<br/><div class="failed">
	No student found with the given ID or access code. <br/><br/>
	Please verify the information and try again. <br/><br/>

	If unsuccessful, please continue without ID or access code.<br/><br/>

	<%= link_to "Continue without ID or Access Code", student_search_path(:cart => @cart, :i => @i, :school_id => @school.id), class: "btn-blue_mobile" %>
</div>