<div class="animated fadeInUp row-container">
<% @packages.each_with_index do |package, index| %>
	
						<div class="center-row animated fadeInUp">
							<%= link_to image_tag(package.image.url), student_select_package_path(@cart.cart_id, @cart.students.count - 1, package.id), class: "package_selection" %>
						</div>
	<% end %>
</div>  