
<div class="col-xs-4">
<%= f.association :schools, collection: School.all.where.not(school_type_id: nil).order(:name), input_html: { class: 'multiple_select'} %><br/>

</div>

<script>

$(".multiple_select").select2({

    minimumResultsForSearch: Infinity
});

</script>