<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-4"><%= link_to "Student Management", export_students_path, class: "btn btn-dash btn-custom" %></div>
	<div class="col-sm-4"><%= link_to "Yearbook Management", yearbooks_path, class: "btn btn-dash btn-custom" %></div>
	<div class="col-sm-2"></div>
</div>