<h1>Shoob Photography</h1>
<h1>Portraits</h1>

<p>A free digital download image for one of your previous orders has been made available and attached to this email.</p>
<img src="<%= @image.image.url %>">

