<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" align="center">Order Confirmation</h4>
      </div>
      <div class="modal-body centered">

        <div class="row">
  <div class="review_box">
    <span style="font-size:30px; color:#396599">Thank you for your order!</span>
    <br/><br/>
      <span style="font-size:20px; color:#FFBB00">Your order has been successfully placed.</span>
      <br/>
      <!-- <span style="font-size:20px; color:#FFBB00">A copy of your receipt has been sent to your provided email.</span><br/> -->
      <span style="font-size:20px; color:#FFBB00">A digital copy available for the images you have</span><br/>
      <span style="font-size:20px; color:#FFBB00">ordered are displayed here to download.</span>
    <br/><br/>

    <div class="row" align="center">
      <button type="button" class="btn-awards-next3" data-dismiss="modal" aria-hidden="true">CLOSE AND VIEW IMAGES</button>

  </div><br/>
</div>
</div>

      <div class="form-actions">
      <div class="modal-footer">

      </div>   
      </div>   

    </div>
  </div>
</div>

