<%= link_to menu_pages_path, remote: true do %>
                    <span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span> &nbsp; MENU
                    <% end %>
                    </div>  