<div class="menu_list animated fadeIn" align="center">
<%= link_to "Purchase Pictures", student_find_student_path %><br/>

<a href="school_support">School Support</a><br/>

<%= link_to "Purchase Pictures", student_find_student_path %><br/>

<%= link_to "Purchase Pictures", student_find_student_path %><br/>
</div>