<style>

.review_box {
	background-color: #E8E8E8;
	border-radius: 25px;
	text-align: center;
}

</style>


<div class="row">
	<div class="review_box">
		<span style="font-size:2.3em; color:#396599">Thank you for your order!</span>
		<br/><br/>
			<span style="font-size:1.9em; color:#FFBB00">Your order (#<%= @order_id %>) has been successfully placed.</span>
			<br/>
			<span style="font-size:1.9em; color:#FFBB00">A copy of your receipt has been sent to your provided email.</span>
			<br/>
			<span style="font-size:1.9em; color:#5392C8">Please return your school picture order form to the school on picture day. <br/>
				Mark "Paid Online" on the form <br/> and enter the confirmation number (#<%= @order_id %>) on the school picture envelope.
			</span>

		<br/><br/>

		<div class="row" align="center">
			<%= link_to "HOME", root_url, class: "btn-awards-next3" %>

	</div><br/>
</div>
</div> 