<br/><br/><br/><br/><br/><br/><br/><br/><div class="alert alert-success animated fadeInDown" role="alert">
<p style="font-size:40px" align="center">
Your order has been successfully placed! We've emailed you a copy of your receipt.
</p>
</div>

  <div class="animated fadeIn">
<%= link_to image_tag("mobile_home.jpg", class: "img-mobile"), student_search_path  %>

<div class="row">
	<div class="col-xs-6"><%= link_to image_tag("mobile_download.jpg"), student_find_student_path %></div>
	<div class="col-xs-6"><%= link_to image_tag("mobile_yearbook.jpg"), student_search_path %></div>
</div>



<%= link_to image_tag("mobile_second.jpg", class: "img-mobile"), zip_code_path  %>

</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>