<br/><br/><br/><br/><br/><br/><br/><br/>

<div class="animated fadeInUp">

<% if current_user.try(:photographer) %>
<%= link_to djobsphotography_path do %>
	<div class="even_blue">
		<p>JOB PHOTOGRAPHY</p>
	</div> 
<% end %>
<% end %>

</div>

