<br/><br/><br/><br/><br/><br/><br/><br/>

<div class="animated fadeInUp">

	<%= link_to export_students_path do %>
		<div class="mobile_package even_blue">
			<p>STUDENTS</p>
		</div> 
	<% end %>

	<%= link_to awards_path, id: "my-link" do %>
		<div class="mobile_package odd_blue">
			<p>AWARDS</p>
		</div> 
	<% end %>

	<%= link_to dprojects_path do %>
		<div class="mobile_package even_blue">
			<p>PROJECTS</p>
		</div> 
	<% end %>

	<% if current_user.try(:admin) %>
	<%= link_to admin_dashboards_path do %>
		<div class="mobile_package odd_blue">
			<p>DASHBOARD</p>
		</div> 
	<% end %>
	<% end %>
</div>

