<br/><br/><br/><br/><br/><br/><br/><br/>

<div class="animated fadeInUp">

<% if current_user.try(:photographer) %>
<%= link_to djobsphotography_path do %>
	<div class="mobile_package even_blue">
		<p>JOBS</p>
	</div> 
<% end %>
<% end %>

	<% if current_user.try(:admin) %>
	<%= link_to admin_dashboards_path do %>
		<div class="mobile_package odd_blue">
			<p>DASHBOARD</p>
		</div> 
	<% end %>
	<% end %>
</div>

