<div class="animated fadeIn">
<%= link_to image_tag("mobile_main.jpg", class: "img-mobile"), student_search_path  %>

<%= link_to student_find_student_path do %>
<div class="mobile_package_home even_blue">
      <p>DOWNLOAD DIGITAL IMAGES</p>
    </div> 
<% end %>

<%= link_to image_tag("mobile_second.jpg", class: "img-mobile"), zip_code_path  %>

</div>