<br/><br/>
<div class="container">
<p><b>What information do we collect?</b></p>
We collect information from you on our site only when you specifically provide it. You may be asked to enter your name, email address, mailing address, phone number, or credit card information when placing an order. Credit card information is provided directly to our payment gateway provider and is not stored. Other information you choose to provide is logged by our site regardless of whether a purchase is made.
<br>
<br>
<p><b>The information you share with us may be used:</b></p>
To personalize your experience.
To process transactions.
To provide the products you request.
<br>
While ordering photos, if you provide an access code we have created for you, we will show you photos specific to your student or sports team member. This access code is confidential and unique. If you provide your email address and opt in to receive promotional emails, these emails will be tailored to you.
<br>
<br>
<p><b>How do we protect your information?</b></p>
We do not sell, trade, or transfer personally identifiable information to outside parties, except for those services used to operate our website, conduct business, or serve you. These parties are required to keep information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety.
<br>
All sensitive and credit card information you provide through our site is transmitted via Secure Socket Layer technology to our payment gateway provider. It is accessible only to those with special access rights to such systems and is required to be kept confidential. The payment gateway provider does not keep private information on file for more than 60 days.
<br>
<br>
<p><b>How do we protect the privacy of children?</b></p>
Our site is not directed for use by children under age 13, and we do not knowingly gather personal information from children, as provided for by the Children’s Online Privacy Protection Act. Please call us at (209) 567-0748 if you are concerned about your child’s use of our website.
<br>
<br>
LAST UPDATED: JULY 27, 2016
<br>
<br>
By using our website, you consent to our privacy policy. Updates to the privacy policy will be made on this webpage. If you have questions about our policy, please call us at (209) 567-0748, email us at info@shoobphoto.com, or send us a letter at: 4640 Spyres Way, Ste. 1, Modesto, CA 95356.

</div>