<style>

.award_header { 
  text-align: right;
}

</style>

<!-- The line with the school logo and school name -->

<div class="animated fadeIn">
<div class="row">
  <div class="col-xs-2" align="right">
  <%= image_tag(current_user.school.logo, class: "school_logo") %>
  </div>
  <div class="col-xs-10" style="color:#396599; font-size:40px; padding-top:20px;">
  <%= current_user.school.name.upcase %> AWARDS
  </div>
</div>

<br/>

<!-- The four slection buttons -->

<div class="row">
  <div class="col-xs-12" align="center">
    <%= link_to "NEW AWARD", new_award_path, class: "btn-awards" %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-xs-12" align="center">
    <%= link_to "AWARDS IN PROGRESS", award_in_progress_path, class: "btn-awards" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4" style="text-align:center; margin: auto;">

    <!-- INSERT 'SUBMITTED LIST' BUTTON -->

  </div>
  <div class="col-xs-4">
  </div>
</div>
</div>