<style>

.review_box {
	background-color: #E8E8E8;
	border-radius: 25px;
	text-align: center;
}

</style>

<br/><br/><br/>

<div class="row">
	<div class="review_box">
		<span style="font-size:30px; color:#396599">Thank you for submitting your list. You will receive a confimation</span>
		<br/>
		<span style="font-size:30px; color:#396599">email from us once your list has been put into production.</span>
		<br/><br/>
			<span style="font-size:20px; color:#FFBB00">If you do not hear from us within 48</span>
			<br/>
			<span style="font-size:20px; color:#FFBB00">hours of submitting your list, please contact</span>
			<br/>
			<span style="font-size:20px; color:#FFBB00">our office at <span style="color:#5392C8">awards@shoobphoto.com</span></span>
		<br/><br/>

		<div align="center">
			<%= link_to "HOME", root_url, class: "btn-awards-next3" %>
		</div>
		<br/>

	</div>
</div>