<div class="row">
	<div class="col-xs-6">
		<h3>Error</h3>
	</div>
	<div class="col-xs-6">
		<h3>Information</h3>
	</div>
</div>
	<% @auto.student_errors.each do |error| %>
		<div class="row">
			<div class="col-xs-6">
				<%= error.error_description %>
			</div>
			<div class="col-xs-6">
			<%= error.error_text %>
		</div>
	</div>
	<% end%>

fasda
