
<div class="image">
  <img src="https://goo.gl/2oZU2S" alt="First">
  <button class="remove">X</button>
</div>
<div class="image">
  <img src="https://goo.gl/tniGAc" alt="Second">
  <button class="remove">X</button>
</div>

<script>

$(document).ready(function() {
	elems = document.getElementsByClassName("remove");
	for (i = 0; i < elems.length; i++) {
		elems[i].addEventListener('click', function() { this.parentNode.remove();});
	}
});


</script>