
<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Student Awards List</h4>
      </div>
      <div class="modal-body centered">
Thank you, we've received the Awards List for your students. We've emailed you a copy and a confirmation.

    </div>
  </div>
</div>


