<h1>Listing export_lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @export_lists.each do |export_list| %>
      <tr>
        <td><%= link_to 'Show', export_list %></td>
        <td><%= link_to 'Edit', edit_export_list_path(export_list) %></td>
        <td><%= link_to 'Destroy', export_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export list', new_export_list_path %>
