
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Submitted</th>
      <th>Order ID</th>
      <th>School</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Student's First Name</th>
      <th>Student's Last Name</th>
      <th>Price</th>
      <th>Processed?</th>
    </tr>
  </thead>

  <tbody>
    <%= render @search.orders %>

  </tbody>
</table>

<br>
 