<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Preview of <%= @item.number %>: <%= @item.name %></h4>
      </div>
      <div class="modal-body" align="center">
      <%= image_tag(@item.main.url, class: "img img-rounded") %>
<br/>
<div class="dropdown">




      </div>
      <div class="form-actions">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>   
      </div>   

    </div>
  </div>
</div>