<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to 'New', new_item_path %> |
<%= link_to 'Back', items_path %><br/><br/>
<%= link_to 'Delete', item_path(@item.id),
            :confirm => 'Are you sure?', :method => :delete %>

