<h1>Listing gifts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= link_to 'Show', admin_gift_path(gift.id) %></td>
        <td><%= link_to 'Edit', edit_admin_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', admin_gift_path(gift.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_admin_gift_path %>
