// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
  div.checkbox.inline {
    .control-label {
      text-align: left;
    }
  }
}

.dispo{
    margin-right:10%;
}
pull-left{
    float:left;
}



.vertical-line {
  padding-top: 15px;
  border-bottom: 2px solid #000;
}

.darkblue {
  color: #396599;
}

.maxwidth {
  max-width: 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.text_gray {
	color:#BDBDBD;
}

.bottom_logo {
	max-width:100%;
}

.small_footer {
	font-size:9px;
	text-align:left;
}