// Place all the styles related to the ExportListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#padding {
	margin-left:15px;
}

.students tbody td th {
	padding-left:0px;
	padding-right:0px;
	font-size: 1px !important;
	margin-left:0px;
	margin-right:0px;
}

#button td th {
	margin-left:1px;
	margin-right:1px;
	padding-left:1px;
	padding-right:1px;
	margin:0px !important;
	padding:0px !important;
}

.button td th {
	margin-left:1px;
	margin-right:1px;
	padding-left:1px;
	padding-right:1px;
	margin:0px !important;
	padding:0px !important;
}


.responsive-width {
    font-size: 1.3vw !important;
    padding-left:5px !important;
    margin-left:5px !important;
    padding-right:5px !important;
    margin-right:5px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.img-index {
	max-width: 28px;
	max-height:35px;
}

.btn-centered {
	width:100%;
	align:center;
	margin-bottom:5px;
	padding-bottom:10px;
}

.centered {
	margin: auto;
    padding: 10px;
}

.searchform {
	background-color:#1289CD;
	color:#1289CD;
}
.white {
	color:#fff;
	padding-left:10px;
	padding-top:35px;
}

text.text_field
{
width: 1000px;
height: auto;
}    

#batch_links {
	padding-top:5px;
}