// Place all the styles related to the ExportListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#padding {
	margin-left:15px;
}

.btn-centered {
	width:100%;
	align:center;
	margin-bottom:5px;
	padding-bottom:10px;
}

.centered {
	margin: auto;
    padding: 10px;
}

.searchform {
	background-color:#1289CD;
	color:#1289CD;
}
.white {
	color:#fff;
	padding-left:10px;
	padding-top:35px;
}

text.text_field
{
width: 1000px;
height: auto;
}    

#batch_links {
	padding-top:5px;
}