// Place all the styles related to the ExportListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#padding {
	margin-left:15px;
}

.students tbody td th {
	padding-left:0px;
	padding-right:0px;
	font-size: 1px !important;
	margin-left:0px;
	margin-right:0px;
} 



#button td th {
	margin-left:1px;
	margin-right:1px;
	padding-left:1px;
	padding-right:1px;
	margin:0px !important;
	padding:0px !important;
}

.button td th {
	margin-left:1px;
	margin-right:1px;
	padding-left:1px;
	padding-right:1px;
	margin:0px !important;
	padding:0px !important;
}


.responsive-width {
    font-size: 1.3vw !important;
    padding-left:5px !important;
    margin-left:5px !important;
    padding-right:5px !important;
    margin-right:5px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.responsive-th {
    font-size: 1.3vw !important;
    padding-left:5px !important;
    margin-left:5px !important;
    padding-right:5px !important;
    margin-right:5px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.select-all {
    white-space: nowrap;
}

.online {
    white-space: nowrap;
}

table.responsive_table thead th td {
    font-size: 1.5vw !important;
    padding-left:5px !important;
    margin-left:5px !important;
    padding-right:5px !important;
    margin-right:5px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}


.img-index {
	max-width: 28px;
	max-height:35px;
}

.btn-centered {
	width:100%;
	align:center;
	margin-bottom:5px;
	padding-bottom:10px;
}

.centered {
	margin: auto;
    padding: 10px;
}

.searchform {
	background-color:#1289CD;
	color:#1289CD;
}
.white {
	color:#fff;
	padding-left:10px;
	padding-top:35px;
}

text.text_field
{
width: 1000px;
height: auto;
}    

#batch_links {
	padding-top:5px;
}

#nospace {
	padding-left: 3 !important;
		padding-right: 0 !important;
	 margin-right: 0 !important;
   margin-left: 0 !important;

}

#nospacefirst {
	padding-left: 20px !important;
		padding-right: 0px !important;
	 margin-right: 0 !important;
   margin-left: 0 !important;

}

#students_list:empty {
	margin: auto;
	width: 500px;
	height: 600px; /* change height to see repeat-y behavior */

	background-image:
		radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),
		linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 ),
		linear-gradient( lightgray 20px, transparent 0 );

	background-repeat: repeat-y;

	background-size:
		100px 200px, /* circle */
		50px 200px, /* highlight */
		150px 200px,
		350px 200px,
		300px 200px,
		250px 200px;

	background-position:
		0 0, /* circle */
		0 0, /* highlight */
		120px 0,
		120px 40px,
		120px 80px,
		120px 120px;

	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		background-position:
			0 0,
			100% 0, /* move highlight to right */
			120px 0,
			120px 40px,
			120px 80px,
			120px 120px;
	}
}