// Place all the styles related to the ExtraTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#extras td {
	padding-left:15px;
	padding-right:15px;
}