// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-preview  {
	max-height:500px;
	max-width:500px;
}

#catalog td {
	padding-top:2px;
	padding-right:5px;
}

.free {
	color:red;
}

#preview img {
	max-width:250px;
	max-height:250;
}

.grey {
	text-color: #909090;
	color:#909090;
}

.orange {
	text-color: #FFA500;
	color: #FFA500;
}