// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-preview  {
	max-height:300px;
	max-width:80%; 
}

#catalog td {
	padding-top:2px;
	padding-right:5px;
}

.title {
	text-size:14px;
	font-weight:bold;
}

.free {
	color:red;
}

#preview img {
	max-width:70%;
	max-height:200px;
}

.img-item img{
	max-width:80%;
}

.category_name {
	font-weight:bold;
}


#category_name a:hover {
	text-color:#0071A5;
	color:#0071A5;
}

.header a {
	color:#909090;
	text-decoration: underline;
}

.header a:hover {
	color:#000;
	font-weight: bold;
}



#category_name a:active {
	text-color:#0071A5;
	color:#0071A5;
}

.item_title {
	font-size:14px;
	font-weight:strong;
	color:#000;
	line-height: 120%;
}

.highlighted a:link {
	text-color:#0071A5;
	color:#0071A5;
}

.noline {
	font-size:14px;
	margin-top:0px;
	margin-bottom:5px;
}


#category_name a {
	text-color:#000;
	color:#000;
	padding-top:0px;
	padding-bottom:10px;
	margin-top:0px;
	margin-bottom:10px;
}

.checkout {
	color:#909090;
	text-decoration: underline;
}

.grey {
	text-color: #909090;
	color:#909090;
}

.orange {
	text-color: #FFA500;
	color: #FFA500;
}

.small {
	font-size: 12px;
}
p.noline {
		line-height: 1;
}

#list ul {
	list-style-type: none;
}
.indent {
	padding-left:15px;
}

.blacka {
	color: #000000;
}

#cat.academics {
	color:#0064d8;
}

#subcat.academics {
	border-left: solid #0064d8;
	padding-right:10px;
}

#cat.guidance {
	color:#fc8500;
}

#subcat.guidance {
	border-left: solid #fc8500;
	padding-right:10px;
}


#cat.communication {
	color:#099c77;
}

#subcat.communication {
	border-left: solid #099c77;
	padding-right:10px;
}

#cat.management {
	color:#ff3900;
}

#subcat.management {
	border-left: solid #ff3900;
	padding-right:10px;
}

#subcat ul li a:hover
{
color: #000;
}

#subcatlist ul li a {
	color:#000;
}

