// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myModal .modal-dialog
{
  width: 70%;
}

#table {
	max-height:75vh;
	overflow-y:auto;
}

.small {
	max-height:70px;
	max-widht:50px;
}