// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";
@media screen,projection {
.imageflow {
overflow:hidden;
position:relative;
text-align:left;
visibility:hidden;
width:100%;
}

.one-third-col {
	max-width:33%;
	display:inline-block;margin-right:10px;
}


.header {
	max-height:125px;
}
.two-third-col {
	max-width:60%;
	display:inline-block;
}

#page.img {
	max-width:100%;
}

}