// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#image_container {

  position: relative;
  margin-bottom: 160px;
}
.image_container {
  position: absolute;
  left: 0;
  top: 10px;

}
#text {
  z-index: 10000;
  position: absolute;
  color: white;
  font-size: 19px;
  top:10px;
  left:4px;
  
}

.small_text {
position:absolute;
	font-size:10px;
	top:0px;
  	left:8px;
}

.small_text_info {
	font-size:10px;
text-align:center;
padding-bottom:1px;
}

.leftimage {
	padding-right:1px;
}
.rightimage {
	padding-left:1px;
}

.leftimage td > * {
    vertical-align : middle;
}

.rightimage td > * {
    vertical-align : middle;
}

#itemtable {
	height:100vh;
	overflow-y:auto;
	overflow-x:hidden;
}

#imagetable {
	height:70vh;
	overflow-y:auto;
	overflow-x:hidden;
}

#senior_table {
	height:80vh;
	overflow-y:auto;
	overflow-x:hidden;
}

.senior_portrait img {
	max-width:100%;
}


.package_table {
	width:100%;
	overflow-x: auto;
}


.currency {
	font-size:16px;
	padding-bottom:10px;
}

.listing {
	font-size:16px;
	padding-top:1px;
	padding-bottom:1px;
	display: block;
}

.nopadding{
    padding-left: 0px !important;
    padding-right:0px !important;    
    margin-right:0px !important;    
    margin-right:0px !important;    
}

col {
    width:200px;
}
#sixteenbytwenty img {
	max-height:100%;
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#fivebyseven img {
	max-height:100%;
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
#wallets img {
	max-height:100%;
	max-width:100%;
	display: block;
    padding-left: 0px !important;
    padding-right:0px !important;    
    margin-right:0px !important;    
    margin-right:0px !important;  
}

#eightbyten img {
	max-height:100%;
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#elevenbyfourteen img {
	max-height:100%;
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#eightbyten.col-xs-3 {
	height:9.6vw;
	padding-bottom: 10px;
	z-index:-1;
}

#eightbyten.inner {
	background-color:#FBFBFB;
	height:100%;
	width:75%;
	border:1px solid black; 
}

#nopadding.col-sm-6 {
padding-top:7px;

}

#nopadding.row {
	height:100%;

}

#fivebyseven.col-xs-3 {
	height:6.5vw;
	padding-bottom: 10px;
	z-index:-1;
}


#fivebyseven.inner {
	background-color:#FBFBFB;
	height:100%;
	width:100%;
	border:1px solid black;
	vertical-align: middle;
}

#sixteenbytwenty.col-xs-3 {
	height:131px;
	padding-bottom: 10px;
	z-index:-1;
}

#sixteenbytwenty.inner {
	background-color:#FBFBFB;
	height:100%;
	width:100%;
	border:1px solid black;
}
#elevenbyfourteen.col-xs-3 {
	height:7.4vw;
	padding-bottom: 10px;
	z-index:-1;
}

#wallets.col-xs-3 {
	height:6.5vw;
	padding-bottom: 10px;
	z-index:-1;
}

#elevenbyfourteen.inner {
	background-color:#FBFBFB;
	height:100%;
	width:100%;
	border:1px solid black;
}

#wallets.inner {
	background-color:#FBFBFB;
	height:100%;
	width:100%;
	border:1px solid black;
}




ul.options {
    padding-top: 0;
    padding-bototm:0;
}

#margin.modal-body {
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	padding-bottom:10px;
}

.btn-custom2 {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #0061A2;
  padding: 10px 30px 10px 30px;
  border: solid #000000 0px;
  text-decoration: none;
  color:#fff;
}

.btn-custom2:hover {
color:#000000;
}

.btn-custom4 {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000;
  font-size: 14px;
  background: #000;
  padding: 6px 22px 6px 22px;
  border: solid #000000 0px;
  text-decoration: none;
  color:#fff;
}

.btn-custom4:hover {
background-color:#829595;
color:#fff;
}

.btn-custom3 {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 19px;
  background: #E74C3C;
  padding: 10px 30px 10px 30px;
  border: solid #000000 0px;
  text-decoration: none;
  color:#fff;
}

.btn-custom3:hover {
color:#000000;
}

.btn-custom-danger {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 13px;
  display: inline;
  background: #E74C3C;
  padding: 7px 20px 7px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  color:#fff;
}

.btn-custom-danger:hover {
color:#fff;
}

.btn-custom-continue {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 13px;
  display: inline;
  background: #0061A2;
  padding: 7px 20px 7px 20px;
  border: solid #000000 0px;
  text-decoration: none;
  color:#fff;
}

.btn-custom-continue:hover {
color:#fff;
}

.blue {
	color:#0061A2;
}

.image_text {
	font-size:14px;
	margin-top:5px;
	margin-bottom:10px;
}

#scrolltable {
	height:70vh;
	overflow-y:auto;
	background-color:#ECECEC;
	padding-left:40px;
	padding-top:20px;
}

#png1 {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
.inner {

 }

.img-proof {
	max-width:100%;
}

#png2 {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.wide {
	width:100%;
	height:200px;
}

#studenttable {
	height:65vh;
	overflow-y:auto;
	overflow-x:hidden;
}

p.small-font {
font-size:70%;
color:#878787;
}

.selectedbackground {
	border-radius: 25px;
    background: #D3D3D3;
}

.requiredtext {
	font-size:12px;
	text-align:right;
	color:red;
	padding-top:4px;
}

.missing {
	color:red;
	font-weight: bold;
}

#sizing-addon3.input-group-addon {
	background-color:#FF0000;
	border-color:#FF0000;
}
#sizing-addon3.input-group-addon.ok {
	background-color:#1ABC9C;
	border-color:#1ABC9C;
}

.img-package {
	max-width:125px;
	max-height:250px;
	padding-top:5px;
	z-index:1000;
}


#package_list td {
	padding-right:30px;
	padding-left:30px;
}

.img-package-custom {
	max-width:125px;
	max-height:250px;
	padding-top:5px;
	box-shadow: 10px 10px 5px #BDBDBD;
}

#row {
	text-align:center;
	align:center;
}

.text{
display: block;
width: 0;
z-index: 1;
padding-top: 60px;
text-align:center;
}


.bubble 
{
align:"left";
position: relative;
width: 50%;
max-height: 100%;
padding: 5px;
background: #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #3cb0fd solid 5px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #3cb0fd;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 82px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 17px 17px 0;
border-color: transparent #3cb0fd;
display: block;
width: 0;
z-index: 0;
left: -20px;
top: 80px;
}



.radiobutton {
	padding-right: 0;
	margin-right:0;
}

#review img {
	max-height:200px;
	max-width:300px;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:10px;
	background-color:#1ABC9C;

}

#imgtag img {
	max-height:400px;
	max-width:100%;


}

.table-package {
	height:70vh;
	overflow-y:auto;
	background-color:#E4E4E4;
	padding-left:10px;
}

.image {
	max-height: 250px;
	max-width:250px;
}

.image-small {
	max-height:100px;
	max-width:250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#E4E4E4;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:10px;
}

.package_image {
	max-width:90%;
	padding-bottom:10px;
}

.school_header {
	margin-left: auto;
    margin-right: auto;
	align:center;
	text-align:center;
	font-size:50px;
	width:40%;
	background-color:#1ABC9C;
	border: 8px solid #34495E;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.section {
	background-color:#ECECEC;
}


.school_header:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 50%;
	top: 90px;
	border: 15px solid;
	border-color: #34495E transparent transparent #34495E;
}

#search {	
margin-left: auto;
    margin-right: auto;
	width: 50px;
	height: 10vh;
	background-color:#1ABC9C;
	border: 8px solid #34495E;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	transition: width 1s;
  -moz-transition: width 1s;
  -webkit-transition: width 1s, height 1s; 
  -o-transition: width 1s;
   padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#submit.submit {
	padding-top:40px;
	text-align:right;
}

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}