// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.template_container {
	margin-left:20px;
	margin-right:20px;
}

font_dropdown {
	max-width: 100% !important;
}

.select_drop {
	max-width: 60px !important;
	width: 60px !important;
}

.field_field {
	width:70px !important;
}

