// Place all the styles related to the Yearbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-dash {
	height:100px;
	width:80%;
	vertical-align:middle;
}