<%= simple_form_for [:admin, @user], :url => update_password_admin_user_path(@user.id), :method => :post, html: {class: 'form-horizontal' } do |f| %>
<div class="form-inputs">

<%= f.input :password, id: "password" %>
<span id="show_password"></span>
<%= f.input :password_confirmation, id: "password_confirmation" %>
<span id="show_password_confirmation"></span>

</div>
<%= f.submit %>

<% end %>

<script>

$( "#user_password" ).blur(function() {
	$( "#show_password" ).html(this.value);
});

$( "#user_password_confirmation" ).blur(function() {
	$( "#show_password_confirmation" ).html(this.value);
});
</script>

