<div class="footer">
4640 Spyres Way, Suite 1. Modesto, CA | 209.567.0748 | info@shoobphoto.com <br/>
<a href="http://privacypolicy.herokuapp.com/" class="privacypolicy">Privacy Policy</a>
<br />

<% if current_user %>

  <%= link_to "Dashboard", admin_dashboards_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ShoobPhoto Login", new_user_session_path %>
<% end %>
</div>

<br /><br />