<style>

.mobile_header_text {
  font-size: 35px !important;
}

</style>
<script>

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} 

</script>

<div id="content"><%= link_to image_tag("logo_main.png", class: "ribbon"), root_url %></div>

<div class="menu" style="width: 100% !important;"> 
  <div class="wrapper">
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
      <span class="glyphicon glyphicon-menu-hamburger" style="color:white"></span> &nbsp; MENU
    </button>
      <div id="myDropdown" class="dropdown-content" style="font-size: 40px;">
        <%= link_to "PURCHASE PICTURES & YEARBOOKS", student_splash_path(:i => nil, :cart => nil), {:style=>'font-size: 35px;'} %>
        <a href="/school_support" style="font-size: 35px;">TEACHER RESOURCES</a>
        <a href="/contacts/new" style="font-size: 35px;">CONTACT US</a>
        <% if current_user %>
          <%= link_to "LOGIN", new_user_session_path, {:style=>'font-size: 35px;'} %>
        <% else %>
          <%= link_to "DASHBOARD", new_user_session_path, {:style=>'font-size: 35px;'} %>
        <% end %>
    </div>
  </div>
  </div>
</div>

<style>
body {
    padding: 0px;
    margin: 0 0 0 0px; /* bottom = footer height */
}
</style>