<fieldset>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<%= f.input :size %>
		</div>
		<div class="col-xs-4">
			<%= f.input :price %>
		</div>
		<div class="col-xs-2">
			<br/>
			  Remove
  				<%= f.check_box :_destroy %>

		</div>
  </div>
</fieldset>
