<fieldset>
	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<%= f.input :style %>
			<%= f.input :price %>
		</div>
		<div class="col-xs-2">
			<br/>
			  Remove
  				<%= f.check_box :_destroy %>

		</div>
  </div>
</div>
</fieldset>
